.calc-wrap {
    padding: 0 50px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.calc-wrap::before {
    content: url("../../assets/img/women.jpg");
    z-index: -4;
    left: 0;
    position: absolute;
    transform: scale(-1, 1) scale(1.7);
    opacity: .2;
}

@media (max-width: 920px) {
    .calc-wrap{
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 720px) {
    .calc-wrap::before {
        display: none;
    }
}

@media (max-width: 510px) {
    .calc-wrap {
        padding: 0 15px ;
    }
}

